<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="padding-left: 15px;">Pede aí</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#botoesAcoes" aria-controls="botoesAcoes" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="botoesAcoes">
        <div class="navbar-nav ms-auto">
            
            <a href="/login" class="btn btn-outline-light w-100 w-lg-auto me-lg-2 mb-2 mb-lg-0">Login</a>
            
            <a href="/cadastrar" class="btn btn-primary w-100 w-lg-auto">Cadastrar</a>
        </div>
    </div>
</nav>