<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
    <br>
    <br>
    <div class="container">
        <form method="POST" action="/salvarcadastro">
            <h3>Preencha os campos abaixo:</h3>
            <hr>

            <label>Nome Completo</label>
            <input placeholder="Digite seu nome aqui" type="text" name="nome" class="form-control">
            <br>

            <label>Telefone</label>
            <input placeholder="Digite seu telefone aqui" type="text" name="telefone" class="form-control">
            <br>

            <label>Email</label>
            <input placeholder="Digite seu email aqui" type="email" name="email" class="form-control">
            <br>

            <label>Senha</label>
            <input placeholder="Digite sua senha aqui" type="password" name="senha" class="form-control">
            <br>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</body>

<%- include('partials/footer') %>