<%- include('partials/header') %>
<body>
    <%-include('partials/navbar') %>
    <br>

    <div class="container">
        <form method="POST" action="/salvarservico">
            <h3>Faça o seu pedido</h3>
            <hr>

            <label>Título do serviço</label>
            <input placeholder="" type="text" name="titulo" class="form-control">
            <br>

            <label>CEP do local:</label>
            <input placeholder="" type="text" name="cep" class="form-control">
            <br>

            <label>Rua</label>
            <input type="text" name="rua" class="form-control">
            <br>

            <label>Número</label>
            <input type="text" name="numero" class="form-control">
            <br>

            <label>Bairro</label>
            <input type="text" name="bairro" class="form-control">
            <br>

            <label>Descrição do serviço</label>
            <textarea class="form-control" name="descricao"></textarea>
            <br>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <br>
            <p></p>
        </form>
    </div>
</body>
<%- include('partials/footer') %>