<%- include('partials/header'); %>

<body>

    <%- include('partials/navbar'); %>

    <div class="container mt-5 text-center">
        
        <h1 class="display-4 fw-bold mb-3">Seja bem-vindo ao Pede aí!</h1>
        
        <a class="btn btn-primary btn-lg mx-auto" href="/pedir">
            Pede aí!
        </a>
        
    </div>    
</body>
<%- include('partials/footer'); %>