<%- include ('partials/header') %>
<body>
    <%- include ('partials/navbar') %>
    <br>

    <div class="container">
        <div class="card"></div>
    </div>
</body>
<%- include ('partials/footer') %>